:root{
    --colors-base_white: #FFFFFF;
    --colors-base_grey100: #F1F2F4;
    --colors-base_grey200: #E9EBF0;
    --colors-base_grey300: #CCCED3;
    --colors-base_grey400: #AEB0B5;
    --colors-base_grey500: #86898F;
    --colors-base_grey600: #5F6166;
    --colors-base_grey800: #333335;
    --colors-base_grey900: #252526;
    --colors-base_black: #000000;
    --colors-utility_blue50: #9DC4FF;
    --colors-utility_blue100: #2D7CF2;
    --colors-utility_blue200: #0040E5;
    --colors-utilty_green100: #3CCE77;
    --colors-utility_green200: #0D830F;
    --colors-utility_red100: #F95252;
    --colors-utility_red200: #D40909;
    --colors-utility_yellow100: #FFB63F;
    --colors-utility_yellow200: #E68810;
    --colors-hulu_primary: hsl(150, 81%, 51%);
    --colors-hulu_secondary: #7DFFBF;
    --colors-hulu_tertiary: hsl(150, 75%, 44%);
    
    --colors-background_gradient: radial-gradient(circle at 20% 95%, #056877, #051828 96%);
    --colors-background_default: var(--identity-colors-base_grey100);
    --colors-img-background : linear-gradient(156.82deg, rgba(0, 0, 0, .6) 4.58%, transparent 69.61%), linear-gradient(24.5deg, rgba(0, 0, 0, .2) 4.71%, transparent 71.49%);



    --color-primary : #00224D;
    --color-secondary: white;
    --color-dark_accent: hsl(348, 84%, 45%);
    --color-light_accent: hsl(348, 94%, 55%);


    --main-color_primary : var(--color-primary);
    --main-color_secondary : var(--color-secondary);
    --main-color_accent : var(--color-light_accent);
    --main-color_dark_accent : var(--color-dark_accent);


    --aside-color_primary : var(--color-secondary);
    --aside-color_secondary : var(--color-primary);
    --aside-color_accent : var(--color-light_accent);

    --fs-900 : 3.6rem;
    --fs-800 : 3rem;
    --fs-700 : 2.5rem;
    --fs-600 : 1.8rem;
    --fs-500 : 1.35rem;
    --fs-400 : 1rem;
    --fs-300 : 0.85rem;
    --fs-200 : 0.75rem;
    --fs-100 : 0.65rem;

    /* Specific section */
    --fs-header-section: 2.6rem;


    /* Fonts Weight */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Specific section */
    --fw-header-section: 600
}

@media (max-width :992px) {
    :root{
        --fs-900 : 3rem;
        --fs-800 : 2.5rem;
        --fs-700 : 1.8rem;
        --fs-600 : 1.35rem;
        --fs-500 : 1rem;
        --fs-400 : 0.85rem;
        --fs-300 : 0.75rem;
        --fs-200 : 0.65rem;
        --fs-100 : 0.55rem;
    }

}


@media (max-width :768px) {
    /* :root{
        --fs-900 : 2.5rem;
        --fs-800 : 1.8rem;
        --fs-700 : 1.35rem;
        --fs-600 : 1rem;
        --fs-500 : 0.85rem;
        --fs-400 : 0.75rem;
        --fs-300 : 0.65rem;
        --fs-200 : 0.55rem;
        --fs-100 : 0.5rem;
    } */
    section > *{
        background-color: red;
    }

}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 17px;
}

body {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-family: 'Graphik Trial', sans-serif;
    line-height: 1.4;
    height: 2500px;
    background-color: var(--main-color_primary);
}



ul, p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.header-section {
    font-size: var(--fs-header-section);
    font-weight: var(--fw-header-section);
}

.small-text {
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
}

.bg-gradient{
    background: linear-gradient(180deg, #29A869 0.66%, #16181D 99.34%);;
}


/* Start of NavBar */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    /* background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 34, 77, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.logo{
    display: inline-block;
    width: 150px;
    height: 40px;
}

.logo-img{
    width: 100%;
    height: 100%;
}

.navbar a{
    font-size: var(--fs-400);
    font-weight: var(--fw-medium);
    color: var(--main-color_secondary);
    display: inline-block;
    min-width: max-content;
    align-content: center;
    margin-left: 2rem;
    transition: 0.3s ease;
}



#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: var(--fs-700);
    color: var(--main-color_secondary);
    cursor: pointer;
    display: none;
}


/* BREAKPONTS */

@media (width < 992px) {
    .header{
        padding: 1.3rem 5%;
    }
}
@media (width > 768px) {
    .navbar a:hover{
        color: var(--main-color_accent);
        transform: scale(1.2);
    }
}

@media (width < 768px) {

    .logo{
        width: 100px;
        height: 25px;
    }
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: rgba(0, 34, 77, 0.1);
        backdrop-filter: blur(5px);
        text-align: center;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: 0.4s ease-out;
    }

    #check:checked~.navbar{
        height: calc(10rem * 1.4);
    }

    .navbar a{
        display: block;
        margin: 1rem 0;
        transform:translateY(-5rem);
        opacity: 0;
        translate: .3s ease;
    }

    #check:checked~.navbar a{
        transform:translateY(0rem);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}












/* START OF HERO SECTION */

.hero{
    padding-top: 5.5rem;
}


.hero-container{
    width: 100%;
    height: 550px;
    /* background-color: #29A869; */
    position: relative;
}

.hero-image{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url('images/cover2.jpg') no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-image::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:radial-gradient(transparent, var(--main-color_primary) 75%, var(--main-color_primary) 85%, var(--main-color_primary) 100%);

}

.hero-content{
    width: 70%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5rem;
    padding-left: 6rem;
    color: white;
    margin-bottom: 2rem;
}

.hero-header{
    font-size: var(--fs-800);
    font-weight: var(--fw-medium);
}

.brand-name{
    font-style: italic;
}

.hero-description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    width: 70%;
    letter-spacing: 0.25px;

}

.hero-cta{

}

.cta{
    display: inline-block;
    color: var(--main-color_secondary);
    font-size: var(--fs-300);
    font-weight: var(--fw-semibold);
    border: 2px solid var(--main-color_secondary);
    padding: 0.65rem 2rem;
    letter-spacing: 0.6px;
    border-radius: 4px;
    transition: 0.4s ease;
}

.cta-primary{
    background-color: var(--color-light_accent);
    border-color: var(--color-light_accent);
}

.cta-primary:hover{
    background-color: var(--color-dark_accent);
    border-color: var(--color-dark_accent);
}

.cta-secondary{
    /* background-color: var(--colors-base_grey100); */
    border-color: var(--colors-base_grey100);
    color: var(--main-color_secondary);
}

.cta-secondary:hover{
    /* background-color: var(--main-color_primary); */
    background-color: var(--colors-base_grey100);
    color: var(--main-color_primary);
}

section.hero{
    background-color: var(--main-color_primary);
    border-bottom: 3px solid var(--colors-base_grey400);
}

@media (width > 1400px) {
    .hero-content{
        padding-bottom: 7rem;
        padding-left: 8rem;
        margin-bottom: 3rem;
    }
}

@media (width < 992px) {
    .hero-container{
        height: 500px;
    }
    .hero-image{
        width: 90%;
    }
    .hero-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .hero-description{
        margin-block: 1.5rem 2rem;
        text-align: center;
    }
    .cta-hero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .cta{
        font-size: var(--fs-300);
        padding: 0.75rem 2rem;
    }

}

@media (width < 768px) {
    .hero-image{
        width: 100%;
    }
}

@media (width < 576px) {
    .hero-container{
        height: 300px;
    }
    .hero-header{
        font-size: var(--fs-600);
        font-weight: var(--fw-semibold);
    }
    .hero-description{
        font-size: var(--fs-200);
        font-weight: var(--fw-light);
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        
    }


    .hero-cta a{
        font-size: var(--fs-200);
        padding: 0.35rem 0.75rem;
    }
    
}

.library-section{
    color: var(--main-color_secondary);
}

.library-header {
    color: #fff;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    position: relative;
    z-index: 2;
}


@media (min-width: 1280px) {
    .library-header {
        max-width: 996px;
    }
}

@media (min-width: 1024px) {
    .library-header {
        max-width: 786px;
    }
}
@media (min-width: 768px) {
    .library-header {
        margin: 0 auto;
        max-width: 80%;
    }
}


@media (min-width: 1024px) {
    .header-container {
        text-align: center;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .header-container {
        padding-top: 88px;
    }
}
.header-container {
    text-align: center;
    padding: 50px 20px;
    flex: 1 1 300px;
}




